.month-calender {
  width: 100%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  & .month-name {
    font-size: 20px;
    margin-bottom: 30px;
    color: red;
  }
  & .day {
    color: rgba(255, 255, 255, 0.8);
  }
  & .week {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    & .currentMonth {
      color: rgba(255, 255, 255, 1);
    }
  }
}
