.year-view {
  height: 100%;
  .calender-view {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  & .controller {
    position: fixed;
    top: 4px;
    left: 100px;
    display: flex;
    & .year-title {
      margin-right: 3px;
    }
    & button {
      background-color: transparent;
      border: none;
      padding: 0 5px;
      font-size: 20px;
      border-radius: 5px;
      color: rgb(106, 110, 116);
      &:hover {
        background-color: rgb(68, 72, 78);
      }
    }
  }
}
