*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(33, 37, 43);
  color: white;
}

input {
  outline: none;
  &[type="checkbox"] {
    cursor: pointer;
  }
}

hr {
  border: none;
  border-top: 1px solid white;
}

button {
  cursor: pointer;
}

li,
ol,
ul {
  list-style: none;
}
